{% extends "base.html" %} 

{% block style %}
  <style>
    body{
      font-family: 'Quicksand', sans-serif;
    }
  </style>
{% endblock %} 

{%block content %}
<div class="row d-flex justify-content-center mt-5">
    <form name="search" method="POST" class="form-inline ">
        <div class="form-group mx-sm-3 mb-2">
        <label class="sr-only"></label>
        <input 
            type="text" 
            class="form-control" 
            id="query" 
            name="query">
        </div>
        <button type="submit" class="btn btn-primary mb-2">search</button>
    </form>
</div>

<div class="row d-flex justify-content-center">
    <ul class="list-group list-group-flush" id="search_results">
        {% for book in books %}
        <div class="mt-3 mb-3 border border-primary rounded">
            <div class="d-inline mr-5">
              <img 
                src="{{ book.imageLinks.thumbnail }}" 
                class="img-fluid rounded"
                style="max-width: 128px; max-height: 196px;" 
                alt=""
              >
            </div>
            <div class="d-inline mr-5">{{book.title}} by {{book.authors.0}}</div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}