{% extends "base.html" %} 

{% block title %}Login{% endblock %} 

{% block style %}
  <style>
    body{
      font-family: 'Quicksand', sans-serif;
      background-color: #292d3f;
    }
  </style>
{% endblock %} 

{%block content %}

<form method="POST">

  <h3 class="text-white mt-2 row d-flex justify-content-center" >book nook</h3>
  
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;" >
                <div class="card-body p-5 text-center">
      
                    <div class="container">{% block entry_content %} {% endblock %}</div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
</form>
{% endblock %}
